@import "tailwindcss";

@theme {
  --color-primary: #f7f5f0;
  --color-secondary: #1c1917;
  --color-tertiary: #2f855a;
  --color-accent: #d97706;

  --font-lato: "Lato", system-ui, Avenir, Helvetica, Arial, sans-serif;

  --font-sans: "Lato";
}

html.dark @theme {
  --color-primary: #1a1a1a;
  --color-secondary: #e6e6e6;
  --color-tertiary: #4abc6e;
  --color-accent: #d97706;
}

:root {
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-secondary);
  background-color: var(--color-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

#root{
  width: 100%;
  min-height: 100vh;
}